
.fundo{
    background-color: rgb(218, 205, 216);
}
.formulario{
    margin-left: 20%;
    margin-right: 20%;
    margin-top: -3vh;
}

#botao{
    border-radius: 15px;
    margin-bottom: 30px;
    width: 12vh;
    background-color: purple;
    color: white;
}
.row{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.card{
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 20px;
}

.card-header{
    height: 10vh;
    margin-top: 10px;
    
}

.card-body{
    height: 10vh;
}

input{
    height: 3.9vh;
    width: 77vh;
    border-radius: 20px;
    margin-bottom: 10vh;
}
label{
    font-size: 1.3rem;
}
::placeholder{
    font-size: .9rem;
}
#titulo{
    height: 20vh;
}
.resultado{
    margin-right: 26%;
    margin-left: 26%;
}

