.fundo{
    background-color: rgb(158, 141, 219);
}
.formulario{
    margin-left: 20%;
    margin-right: 20%;
}

#botao{
    border-radius: 15px;
    margin-bottom: 30px;
    width: 12vh;
    background-color: purple;
    color: white;
}
.row{
    background-color: white;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 20px;
}

.card{
    margin-top: 10vh;
    margin-top: 3vh;
    margin-bottom: 3vh;
    border-radius: 20px;
}

.card-header{
    height: 7vh;
    margin-top: 10px;
    margin-bottom: 0;
}

input{
    height: 3vh;
    width: 77vh;
    border-radius: 20px;
    margin-bottom: 10vh;
    font-size: .5rem;
}
label{
    font-size: 1.3rem;
}
::placeholder{
    font-size: .9rem;
}
